{
"presets": ["react-native"],
"plugins": [
["import", { "libraryName": "antd-mobile" }],
["module-resolver", {
      "root": ["./src"],
      "alias": {
        "pages": "./src/main/pages",
        "util": "./src/main/util",
        "services": "./src/main/util/services"
        "components": "./src/main/components",
        "test": "./test"
      }
    }]
]
}
